<form [formGroup]="form">
  <div>
    <input formControlName="title"type="text" class="title" placeholder="Название анкеты">
    
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors?.['required']">
        <small>Название анкеты обязательное поле</small>
      </div>
    </div>
  </div>

  <div 
    formArrayName="questions"
    *ngFor="let q of questions.controls; index as i"
  >
    <div [formGroupName]="i">
      <input formControlName="qText" type="text" class="q-input" placeholder="Вопрос №{{i + 1}}">
      <button (click)="addAnswer(i)">Добавить ответ</button>
      <button [disabled]="questions.length <= 1" (click)="deleteQuestion(i)">Удалить вопрос</button>
      
      <div *ngIf="getQuestionText(i).invalid && (getQuestionText(i).dirty || getQuestionText(i).touched)">
        <div *ngIf="getQuestionText(i).errors?.['required']">
          <small>Вопрос №{{ i + 1 }} обязательное поле</small>
        </div>
      </div>
      <div *ngIf="getRightAnswerRadio(i).invalid && (getQuestionText(i).dirty || getQuestionText(i).touched)">
        <div>
          <small>Не выбран правильный ответ</small>
        </div>
      </div>

      <div class="a-container">
        <div *ngFor="let a of getAnswersControls(i); index as j">
          <input type="radio" [value]="j" formControlName="rightAnswerIdx">
          <span formArrayName="answers">
            <input [formControlName]="j" type="text" placeholder="Ответ №{{j + 1}}">
          </span>
          <button [disabled]="getAnswersControls(i).length <= 2" (click)="deleteAnswer(i, j)">Удалить ответ</button>

          <div *ngIf="getAnswer(i, j).invalid && (getAnswer(i, j).dirty || getAnswer(i, j).touched)">
            <div *ngIf="getAnswer(i, j).errors?.['required']">
              <small>Ответ №{{ j + 1 }} обязательное поле</small>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <button (click)="addQuestion()" class="add-q-btn">Добавить вопрос</button>

  <div>
    <button [disabled]="form.invalid || questions.invalid" (click)="createQuestionnaire()">Создать анкету</button>
  </div>
  <div *ngIf="form.invalid || questions.invalid">
    <small>Анкета не корректна</small>
  </div>
</form>