form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 15rem;
  font-size: 1em;
}

.q-input {
  margin-top: 1rem;
}

.a-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.add-q-btn {
  margin: 1rem;
}

small {
  color: rgb(180, 0, 0);
}