<form [formGroup]="form">
  <div>
    <input formControlName="title" type="text" class="title" placeholder="Заголовок">
  </div>
  <div 
    formArrayName="questions"
    *ngFor="let q of questions.controls; index as i"
  >
    <div [formGroupName]="i">
      <input formControlName="qText" type="text" class="q-input" placeholder="Вопрос №{{i + 1}}">
      <button (click)="addAnswer(i)">Добавить ответ</button>
      <button (click)="deleteQuestion(i)">Удалить вопрос</button>
      <div
        *ngFor="let a of getQuestion(i).controls; index as j"
        class="a-container"
      >
        <div>
          <input type="radio" [value]="j" formControlName="rightAnswerIdx">
          <span formArrayName="answers">
            <input [formControlName]="j" type="text" placeholder="Ответ №{{j + 1}}">
          </span>
          <button (click)="deleteAnswer(i, j)">Удалить ответ</button>
        </div>
      </div>
  
    </div>
  </div>
  <button (click)="addQuestion()" class="add-q-btn">Добавить вопрос</button>

  <div>
    <button [disabled]="form.invalid || questions.invalid" (click)="createQuestionnaire()">Создать анкету</button>
  </div>
  <div *ngIf="form.invalid || questions.invalid">
    <small>Анкета не корректна</small>
  </div>
</form>