h1 {
  margin-left: 6rem;
  text-align: center;
  cursor: pointer;
}

.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.btns {
  display: flex;
  margin: 1.5rem;
}

.container {
  position: relative;
  padding-top: 3rem;
}

a {
  margin-right: 1.5rem;
  cursor: pointer;
}